# Dependencies
node_modules/

# Generated spec files
.features-gen/

# Test results
test-results/
playwright-report/

# Environment variables
.env

# Allure reports
allure-results/
allure-report/

# Generated feature files
.features-gen/
